<div class="page-header">
  <h2>Gym List</h2>
  @if (selectedGyms.length === 0) {
  <button class="primary-btn" (click)="openAddGymModal()">Add Gym</button>
  } @else {
  <button class="primary-btn edit-mode">Edit ({{ selectedGyms.length }} selected)</button>
  }
</div>
<app-data-grid [config]="gridConfig" [data]="data" (selectionChange)="onSelectionChange($event)"
  (actionEvent)="handleAction($event)">
</app-data-grid>

<!-- Gym Onboarding Modal -->
@if (isAddGymModalOpen)
{
<app-gym-onboarding-modal (close)="closeAddGymModal()">
</app-gym-onboarding-modal>
}