<div class="page-header">
  <h2>Gym Owners</h2>
  @if (selectedOwners.length === 0) {
  <button class="primary-btn" (click)="openAddOwnerModal()">Add Owner</button>
  } @else {
  <button class="primary-btn edit-mode">Edit ({{ selectedOwners.length }} selected)</button>
  }
</div>
<app-data-grid [config]="gridConfig" [data]="data" (selectionChange)="onSelectionChange($event)"
  (actionEvent)="handleAction($event)">
</app-data-grid>

@if (isAddOwnerModalOpen) {
<app-add-owner-modal (close)="closeAddOwnerModal()" (ownerInvited)="onOwnerInvited()">
</app-add-owner-modal>
}

<app-owner-details-drawer [isOpen]="isViewDrawerOpen" [isEditing]="isEditMode" [ownerContext]="selectedContext"
  (closeDrawer)="isViewDrawerOpen = false" (resendInvite)="reInvite($event)">
</app-owner-details-drawer>